<!DOCTYPE html>
<html>
<head>
  <title>I changi Vr Store</title>

  <link rel="import" href="./assets/metaroom-markup.html">
  <script src="./assets/webcomponents.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
